body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1.3rem;
}

a {
    color: inherit;
}

p {
    margin: 0;
    white-space: nowrap;
}

.key {
    color: #9cdcfe;
}

.value-string {
    color: #ce9178;
}

.value-null {
    color: #569cd6;
}

.curly-brace {
    color: #c9d4c9;
}